Paghera/XML/Esercitazione/agenzia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Schema matching the structure expected by agenzia.xsl -->
  <xs:element name="agenzia">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="viaggio" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="destinazione">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <!-- destinazione may carry an IDCompagnia attribute -->
                      <xs:attribute name="IDCompagnia" type="xs:string" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="tipo" type="xs:string"/>
              <xs:element name="durata" type="xs:int"/>
              <xs:element name="prezzo" type="xs:decimal"/>
            </xs:sequence>
            <!-- IDViaggio is used by the XSLT as an attribute on viaggio -->
            <xs:attribute name="IDViaggio" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>